@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'ClashDisplay-regular';
    src: url('./assets/fonts/ClashDisplay-Regular.woff2').format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ClashDisplay-medim';
    src: url('./assets/fonts/ClashDisplay-Medium.woff2').format('woff2');
    font-weight: 500;
    font-display: swap;
    font-size: normal;
  }
    
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('./assets/fonts/ClashDisplay-Bold.woff2').format('woff2');
    font-weight: 700;
    font-display: swap;
    font-size: normal;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
